<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Chuck Norris Quotes</h1>
    <div id="quote"> </div>
    <div id="buttons">
      <button type="button" id="twitterBtn">Post Twitter</button>
      <button type="button" id="newBtn">New Quote</button>
    </div>
  </body>
</html>
