<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
  </head>
  <body>
    <h1>Chuck Norris Quotes</h1>
    <div id="quote"> </div>
    <div id="buttons">
      <button type="button" id="twitterBtn">Post Twitter</button>
      <button type="button" id="newBtn">New Quote</button>
    </div>
    <script src="/javascripts/index.js" charset="utf-8"></script>
  </body>
</html>
